*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: dimgray;
    -moz-transform: scale(0.6, 0.6);
    zoom: 50%;
}

#canvas1{
    position: absolute;
    border: 3px solid white;
    width: 1920px;
    height: 1080px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
}